In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [3]:
ri_death_data_file = "Resources/RI Multiple Cause of Death, 1999-2020 (State, County, 5-Yr Age Groups, Gender, Race).txt"

ri_death_data = pd.read_csv(ri_death_data_file, sep='\t', lineterminator='\r')

svi_2020_file = "Resources/SVI2020_US_COUNTY.csv"

svi_2020_data = pd.read_csv(svi_2020_file)

In [4]:
df1 = pd.DataFrame(ri_death_data)
df1.head(5)

,Notes,State,State Code,County,County Code,Five-Year Age Groups,Five-Year Age Groups Code,Gender,Gender Code,Race,Race Code,Deaths,Population,Crude Rate
0,\n,Rhode Island,44.0,"Bristol County, RI",44001.0,< 1 year,1,Female,F,White,2106-3,11.0,4242,Unreliable
1,\n,Rhode Island,44.0,"Bristol County, RI",44001.0,< 1 year,1,Male,M,White,2106-3,11.0,4325,Unreliable
2,\n,Rhode Island,44.0,"Bristol County, RI",44001.0,15-19 years,15-19,Male,M,White,2106-3,15.0,43370,Unreliable
3,\n,Rhode Island,44.0,"Bristol County, RI",44001.0,20-24 years,20-24,Male,M,White,2106-3,27.0,38607,69.9
4,\n,Rhode Island,44.0,"Bristol County, RI",44001.0,25-29 years,25-29,Female,F,White,2106-3,12.0,24598,Unreliable

In [5]:
df1.dtypes

Notes                         object
State                         object
State Code                   float64
County                        object
County Code                  float64
Five-Year Age Groups          object
Five-Year Age Groups Code     object
Gender                        object
Gender Code                   object
Race                          object
Race Code                     object
Deaths                       float64
Population                    object
Crude Rate                    object
dtype: object

In [41]:
df1_by_county = df1.groupby(['County'])['Deaths'].sum()
df1_by_county

County
Bristol County, RI        11219.0
Kent County, RI           37936.0
Newport County, RI        17018.0
Providence County, RI    127821.0
Washington County, RI     23559.0
Name: Deaths, dtype: float64

In [33]:
df2 = pd.DataFrame(svi_2020_data)
ri_svi_subset = df2[df2['STATE'] == "Rhode Island"]
ri_svi_subset

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
2312,44,Rhode Island,RI,44001,Bristol,44001,"Bristol County, Rhode Island",24.131673,48645,0,...,2.0,0.3,0.1,0.1,0.0,0.1,2.3,0.5,0.3,0.4
2313,44,Rhode Island,RI,44003,Kent,44003,"Kent County, Rhode Island",168.566199,164122,0,...,2.9,0.1,0.2,0.1,0.0,0.1,2.2,0.3,0.3,0.2
2314,44,Rhode Island,RI,44005,Newport,44005,"Newport County, Rhode Island",102.430459,82731,0,...,1.7,0.3,0.4,0.2,0.1,0.1,2.5,0.6,0.2,0.1
2315,44,Rhode Island,RI,44007,Providence,44007,"Providence County, Rhode Island",409.481427,636161,0,...,4.1,0.1,0.2,0.1,0.1,0.1,3.2,0.3,0.9,0.1
2316,44,Rhode Island,RI,44009,Washington,44009,"Washington County, Rhode Island",329.278432,126139,0,...,2.1,0.2,0.6,0.2,0.1,0.1,1.8,0.4,0.3,0.2

In [44]:
a = [1,2]
b = [3,4]

c = pd.DataFrame(b,a)
c

   0
1  3
2  4

In [52]:
columns = ri_svi_subset.columns
columns[]

'ST'

In [ ]:
ri_svi_subset['svi_total'] =